:root {
    --primary-color: #93C5FD;
}

body {
    font-family : 'Montserrat', cursive;
}


.college-name {
    /* font-size: 22px;
    padding: 5px 5px; */
    /* margin-block-start: 0rem; */

    margin: 1rem;
    border: 3px solid rgb(15, 15, 15);
    background-color: var(--primary-color);
    
}



.college-dept {

    margin-block-start: 0rem;
    padding: 0.5rem 1rem;
    border : 2px solid black;
    margin: 1rem 1rem;
    background-color: var(--primary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}   

#hero-img{
    max-width: 600px;
    height: 50%;
    width: 50%;
    image-rendering: crisp-edges;
    padding: 1rem 2rem 2rem 2rem;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-images {
    background-color : var(--primary-color);
    border-radius: 0.5rem;
    color: white; 
}

.link-videos {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}


