:root {
    --primary-color: #ff50e2;
}

body {
    font-family : 'Montserrat', sans-serif;
}


h1 {
    /* font-size: 22px;
    padding: 5px 5px; */
    margin: 5px 5px 15px 3px;
    border: 3px solid white;
    background-color:#ff50e2;
    
}



h2 {

    padding: 5px 20px;
    border : 2px solid black;
    margin: 5px 5px;
    background-color: hsl(318, 74%, 52%);
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}   

#first {
    height: 50%;
    width: 80%;
    image-rendering: crisp-edges;
    padding: 1rem 2rem 2rem 2rem;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-images {
    background-color : var(--primary-color);
    border-radius: 0.5rem;
    color: white; 
}

.link-videos {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}


